<%= stylesheet_link_tag 'login' %>

<div class="flex flex-col min-h-screen items-center justify-center bg-gray-100">
  <div class="w-full h-[600px] max-w-lg max-h-lg bg-white p-8 rounded-xl shadow mt-[-50px]">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="w-10/12 mx-auto">
        <h1 class="tracking-wide font-medium text-left text-3xl ml-[-4px] mt-8 mb-2"> Welcome Back! </h1>
        <h3 class="text-gray-500 text-xs text-left mb-[55px]"> login to finally see your friends again! </h3>
      </div>
      <div class="flex flex-col items-center">
        <div class="field mb-4 w-10/12 mt-2">
          <%= f.email_field :email, placeholder: "email", autofocus: true, autocomplete: "email", class: "w-full p-3 rounded-xl border-transparent bg-gray-100 focus:bg-white focus:border-purple-400 focus:outline-none focus:border-l-4 focus:border-purple-500 placeholder:text-xs input-placeholder mb-3" %>
        </div>

        <div class="field mb-4 w-10/12">
          <%= f.password_field :password, placeholder: "password", autocomplete: "current-password", class: "w-full p-3 rounded-xl border-transparent bg-gray-100 focus:bg-white focus:border-purple-400 focus:outline-none focus:border-l-4 focus:border-purple-500 placeholder:text-xs input-placeholder" %>
        </div>

        <% if flash[:alert] %>
          <p class="error text-xs text-gray-500 mb-1 mt-[-5px] ml-[-210px]"><%= flash[:alert] %></p>
        <% end %>

        <% if devise_mapping.rememberable? %>
          <div class="w-10/12 mt-4">
            <div class="field mb-4 flex items-center">
              <%= f.check_box :remember_me, class: "rounded accent-purple-400 h-4 w-4 ml-2" %>
              <%= f.label :remember_me, class: "ml-2 text-s" %>
            </div>
          </div>
        <% end %>
        <div class="w-10/12 flex justify-between mt-8">
          <div class="action w-5/12 ml-2">
            <%= link_to "Sign Up", new_registration_path(resource_name), class: "btn-primary btn-large w-full text-center block py-2 px-2 bg-white border border-purple-500 text-purple-500 rounded-xl hover:bg-purple-500 hover:border-purple-400 hover:text-white" %>
          </div>
          <div class="action w-5/12 mr-2">
            <%= f.submit "Login", class: "btn-primary btn-large w-full text-center block py-2 px-2 bg-purple-500 border border-purple-500 text-white rounded-xl hover:bg-white hover:border-purple-500 hover:text-purple-500" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>