<div class="bg-white p-4 border border-transparent border-b-gray-200 mb-4">
  <div class="flex items-start">
    <div class="flex flex-col items-center mr-8">
      <% vote = post.votes.find_by(user: current_user) %>
      <% if vote&.value == 1 %>
        <%= button_to '▲', upvote_post_path(post), disabled: true, class: "px-1 py-0.7 bg-orange-400 text-white rounded-md cursor-not-allowed mt-1 mb-1" %>
      <% else %>
        <%= button_to '▲', upvote_post_path(post), class: "px-1 py-0.7 bg-gray-300 text-gray-700 rounded-md hover:bg-orange-400 hover:text-white mt-1 mb-1" %>
      <% end %>
      <p class="font-semibold"><%= post.likes %></p>
      <% if vote&.value == -1 %>
        <%= button_to '▼', downvote_post_path(post), disabled: true, class: "px-1 py-0.7 bg-blue-400 text-white rounded-md cursor-not-allowed mt-1" %>
      <% else %>
        <%= button_to '▼', downvote_post_path(post), class: "px-1 py-0.7 bg-gray-300 text-gray-700 rounded-md hover:bg-blue-400 hover:text-white mt-1" %>
      <% end %>
    </div>
    <div class="flex-grow">
      <div class="flex justify-between items-center mb-2">
        <div>
          <p class="text-lg font-semibold"><%= post.user.email.split("@").first %></p>
          <p class="text-xs text-gray-300 mb-2"><%= post.created_at.strftime("%B %e, %Y %l:%M %p") %></p>
        </div>
        <div class="flex space-x-2 mt-[-20px]">
          <%= link_to post_path(post) do %>
            <%= image_tag 'view.png', width: 20, height: 20, class: ""%>
          <% end %>
            <% if current_user.email == post.user.email %>
            <%= link_to edit_post_path(post) do %>
              <%= image_tag 'post.png', width: 19, height: 19, class: ""%>
            <% end %>
          <%end%>
        </div>
      </div>
      <p class="mb-2">
        <%= post.body %>
      </p>
      <% if post.image.attached? %>
        <div class="mb-4">
          <%= image_tag post.image, class: "w-full rounded-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>