<div class="w-full bg-white p-2 shadow border-b border-gray-200">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-start">
      <%= link_to root_path, class: "flex items-center" do %>
        <%= image_tag("favicon-32x32.png", alt: "logo", class: "ml-2 mr-2")%>
        <%= image_tag("text-logo", alt: "RubySocial")%>
      <% end %>
    </div>
    <h1 class="ml-auto mr-3 font-bold"><%= current_user.email.split("@").first %></h1>
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
      <%= image_tag("logout.png", alt: "Sign out", width: 20, height: 20, class: "ml-3 mr-3") %>
    <% end %>
  </div>
</div>
<div class="bg-white shadow rounded-xl border border-gray-200 p-4 mx-auto w-3/4 mt-5">
  
  <div class="flex items-start">
    <div class="flex flex-col items-center mr-8">
      <% vote = @post.votes.find_by(user: current_user) %>
      <% if vote&.value == 1 %>
        <%= button_to '▲', upvote_post_path(@post), disabled: true, class: "px-1 py-0.7 bg-orange-400 text-white rounded-md cursor-not-allowed mt-1 mb-1" %>
      <% else %>
        <%= button_to '▲', upvote_post_path(@post), class: "px-1 py-0.7 bg-gray-300 text-gray-700 rounded-md hover:bg-orange-400 hover:text-white mt-1 mb-1" %>
      <% end %>
      <p class="font-semibold"><%= @post.likes %></p>
      <% if vote&.value == -1 %>
        <%= button_to '▼', downvote_post_path(@post), disabled: true, class: "px-1 py-0.7 bg-blue-400 text-white rounded-md cursor-not-allowed mt-1" %>
      <% else %>
        <%= button_to '▼', downvote_post_path(@post), class: "px-1 py-0.7 bg-gray-300 text-gray-700 rounded-md hover:bg-blue-400 hover:text-white mt-1" %>
      <% end %>
    </div>
    
    <div class="flex-grow">
      <div class="flex justify-between items-center mb-2">
        <div>
          <p class="text-lg font-semibold"><%= @post.user.email.split("@").first %></p>
          <p class="text-xs text-gray-300 mb-2"><%= @post.created_at.strftime("%B %e, %Y %l:%M %p") %></p>
        </div>
        <div class="flex space-x-2">
          <% if current_user.email == @post.user.email %>
            <%= button_to @post, method: :delete do %>
              <%= image_tag 'delete.png', alt: 'delete', width: 20, height: 20, class: "mt-[-29px] mr-1" %>
            <% end %>
            <%= link_to edit_post_path(@post) do %>
              <%= image_tag 'post.png', alt: "edit", width: 19, height: 19, class: "mt-[-12px] mr-1" %>
            <% end %>
          <%end%>
          <%= link_to posts_path do %>
            <%= image_tag 'back.png', alt: 'Back', width: 20, height: 20, class: "mt-[-12px] mr-1"%>
          <% end %>
        </div>
      </div>
      
      <p class="text-justify text-xl mb-4"><%= @post.body %></p>
      
      <% if @post.image.attached? %>
        <div class="mb-4 max-w-xl mx-auto">
          <%= image_tag @post.image, class: "w-full h-auto rounded-lg" %>
        </div>
      <% end %>
    </div>
  </div>

  <hr class="border-t border-gray-200 my-8">
  <div id="comments" class="mt-8 text-start bg-white p-4 mx-auto w-1/1 w-3/4">
    <h3 class="text-xl font-semibold mb-2">Comments:</h3>
    <% if user_signed_in? %>
      <%= render 'comments/form', post: @post %>
    <% end %>
    <% @post.comments.each do |comment| %>
      <div id="comments" class="mt-8 text-center bg-white border-b border-b-gray-300 p-8 mx-auto w-auto">
        <%= render 'comments/comment', comment: comment %>
      </div>
    <% end %>

  </div>
</div>
